html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", type="image/png", href='img/favicon.png')
        title Tourify | #{tour} 
    body 
        h1= tour  
        h2= user.toUpperCase()
        //- h1 The Park Camper

        - const x = 9;
        h2= 2*x

        p This is just some text

